<section class="desc" id="J_verbal-sd">
    <div class="hd">Verbal Reasoning<br/>20 Questions<br/>30 Minutes</div>
    <div class="bd">
        <p>For each question, indicate the best answer using the directions given. If you need more detailed directions, click <b>Help</b> at any time. </p>
        <p>If a question has answer choices with <b>ovals</b>, then the correct answer consists of a single choice. If a question has answer choices with <b>square boxes</b>, then the correct answer consists of one or more answer choices. Read and directions for each question carefully.</p>
        <p>Click <b>Continue</b> to proceed.</p>
    </div>
</section>