<section class="desc" id="J_quantity-sd">
    <div class="hd">Quantitative Reasoning<br/>20 Questions<br/>35 Minutes</div>
    <div class="bd">
        <p>For each question, indicate the best answer using the directions given. If you need more detailed directions, click <b>Help</b> at any time. </p>
        <p><b>An on-screen calculator is available for each question in this section. To use the calculator, click the calculator icon at the top of the screen.</b></p>
        <p>If a question has answer choices with <b>ovals</b>, then the correct answer consists of a single choice. If a question has answer choices with <b>square boxes</b>, then the correct answer consists of one or more answer choices. Read the directions for each question carefully.</p>
        <p>All numbers used are real numbers.</p>
        <p>All figures are assumed to lie in a plane unless otherwise indicated.</p>
        <p>Geometric figures, such as lines, circles, triangles, and quadrilaterals, <b>are not necessarily</b> drawn to scale. That is, you should <b>not</b> assume that quantities such as lengths and angle measures are as they appear in a figure. You should assume, however, that lines shown as straight are actually straight, points on a line are in the order shown, and more generally, all geometric objects are in the relative positions shown. For questions with geometric figures, you should base your answers on geometric reasoning, not on estimating or comparing quantities by sight or by measurement.</p>
        <p>Coordinate systems, such as xy-planes and number lines, <b>are</b> drawn to scale; therefore you can read, estimate, or compare quantities in such figures by sight or by measurement.</p>
        <p>Graphical data presentations, such as bar graphs, circle graphs, and line graphs, <b>are</b> drawn to scale; therefore, you can read, estimate, or compare data values by sight or by measurement.</p>
        <p>Click <b>Continue</b> to go on.</p>
    </div>
</section>