<section class="desc" id="J_writing-qd">
    <div class="hd">Analytical Writing 1<br/>Analyze an Issue</div>
    <div class="bd">
        <p>You will be given a brief quotation that states or implies an issue of general interest, and you will also be given specific instructions on how to respond to that issue. Trained GRE readers will evaluate your response according to how well you:</p>
        <ul>
            <li>Respond to the specific task instructions</li>
            <li>Consider the complexities of the issue</li>
            <li>Organize, develop, and express your ideas</li>
            <li>Support your position with relevant reasons and/or examples</li>
            <li>Control the elements of standard written English</li>
        </ul>
        <p>Click <b>Continue</b> to proceed.</p>
    </div>
</section>