<section class="desc" id="J_writing-qd">
    <div class="hd">Analytical Writing 2<br/>Analyze an Argument</div>
    <div class="bd">
        <p>You will be given a short passage that presents an argument, and you will also be given specific instructions on how to respond to that passage. Trained GRE readers will evaluate your response according to how well you:</p>
        <ul>
            <li>Respond to the specific task instructions</li>
            <li>Identify and analyze important features of the passage</li>
            <li>Organize, develop, and express your analysis</li>
            <li>Support your position with relevant reasons and/or examples</li>
            <li>Control the elements of standard written English</li>
        </ul>
        <p>Click <b>Continue</b> to proceed.</p>
    </div>
</section>