<section class="verbal-single">
    <div class="hd">
        <p>
            {if count($verbal.choices) == 1}
            Select one entry for the blank. Fill the blank in the way that best completes the text.
            {else}
            For each blank select one entry from the corresponding column of choices. Fill all blanks in the way that best completes the text.
            {/if}
        </p>
    </div>
    <div class="bd">
        <p>{$verbal.question}</p>
        <div class="answers cf">
            {foreach from=$verbal.choices item="choices" key="key"}
            <dl>
                <dt>{if count($verbal.choices) > 1}{if $key == 0}Blank (i){elseif $key == 1}Blank (ii){else}Blank (iii){/if}{/if}</dt>
                <dd>
                    <ul>
                        {foreach from=$choices item="choice"}
                        <li>{$choice}</li>
                        {/foreach}
                    </ul>
                </dd>
            </dl>
            {/foreach}
        </div>
        <div class="explain cf">
            <span class="user-answer"><b>{$verbal.userAnswer}</b></span>
            <span class="{if $verbal.isRight}right-i{else}false-i{/if}"></span>
            <span class="detail"><b>答案：</b>{$verbal.explain}</span>
            <div class="fr"><a href="" class="login-btn" id="J_next">下一题</a></div>
        </div>
    </div>
</section>
<script type="text/javascript">
(function () {
    var paths = location.pathname.split('/');
    paths[4] = '{$verbal.nextQid}';
    paths[5] = parseInt(paths[5]) + 1;
    $('#J_next').attr('href', paths.join('/'));
}) ();
</script>