<section class="verbal-multiple">
    <div class="hd">
        <p>Select the <b>two</b> answer choices that, when used to complete the sentence, fit the meaning of the sentence as a whole <b>and</b> produce completed sentences that are alike in meaning.</p>
    </div>
    <div class="bd J_question">
        <p><strong>{$verbal.question}</strong></p>
        <ul class="multiple">
        {foreach from=$verbal.choices[0] item="choices"}
            <li>{$choices}</li>
        {/foreach}
        </ul>
        <div class="explain cf">
            <span class="detail"><b>答案：</b>{$verbal.explain}</span>
            {if $verbal.id < $verbal.maxId}
            <div class="next fr cf"><a href="/{$verbal.action}/{$verbal.id + 1}" class="login-btn">下一题</a></div>
            {/if}
        </div>
    </div>
</section>