<section class="quantity">
    <div class="bd J_question">
        <p><strong>{$quantity.question}</strong></p>
        <div class="compare cf"><div class="quantity-a">Quantity A</div><div class="quantity-b">Quantity B</div></div>
        <div class="compare cf"><div class="a">{$quantity.A}</div><div class="b">{$quantity.B}</div></div>
        <div class="answers">
            <ul class="single">
                <li>Quantity A is greater.</li>
                <li>Quantity B is greater.</li>
                <li>The two quantities are equal.</li>
                <li>The relationship cannot be determined from the information given.</li>
            </ul>
        </div>
        <div class="explain cf">
            <span class="detail"><b>答案：</b>{$quantity.explain}</span>
            {if $quantity.id < $quantity.maxId}
            <div class="next fr cf"><a href="/{$quantity.action}/{$quantity.id + 1}" class="login-btn">下一题</a></div>
            {/if}
        </div>
    </div>
</section>