<section class="quantity">
    <div class="hd"><p><strong>{$quantity.question}</strong></p></div>
    <div class="bd">
        <div class="question">{$quantity.input}</div>
        <div class="explain cf">
            <span class="detail"><b>答案：</b>{$quantity.explain}</span>
            {if $quantity.id < $quantity.maxId}
            <div class="next fr cf"><a href="/{$quantity.action}/{$quantity.id + 1}" class="login-btn">下一题</a></div>
            {/if}
        </div>
    </div>
</section>